# -----------------------------
# OS-Specific
# -----------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Linux
*~
.nfs*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# Jupyter
.ipynb_checkpoints

# -----------------------------
# Build / Packaging
# -----------------------------
build/
dist/
*.spec

# Logs & Reports
/logs
/json_report
/csv_report
discovr_reports/

# Coverage / Testing
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
vendor/
go.work
go.work.sum

# Environment
.env

# -----------------------------
# IDEs / Editors
# -----------------------------
.idea/
.vscode/
*.swp

# -----------------------------
# Docker
# -----------------------------
# Ignore Docker-related artifacts
.dockerignore
docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
